@charset "UTF-8";

/* font */
html, body {
    font-family: "Noto Sans KR", sans-serif;
    background-color: #E5E5E5;
}

/* align */
.t_center {
    text-align: center;
}
/* font-size */

/* wrap */
.wrap {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* tit */
.con_tit {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 70px 0 25px;
}

/* flex wrap */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.row.wp {
    margin-top: -64px;
    margin-left: -20px;
    margin-right: -20px;
}
.row .col_8 {
    flex: 0 1 auto;
    width: 33.333333%;
    padding: 64px 20px 0 20px;
}

/* padding margin */
.p_0 {
    padding: 0;
}
.ml_10 {
    margin-left: 10px;
}
.mb_75 {
    margin-bottom: 75px;
}

/* button */
.btn {
    display: block;
    width: 78px;
    height: 34px;
    font-size: 1rem;
    border-radius: 8px;
    line-height: 34px;
    background-color: #fff;
    transition: background-color .3s, color .3s;
}
.btn.plus {
    color: var(--green);
}
.btn.plus:hover {
    background-color: var(--green);
    color: #fff;
}
.btn.del {
    color: var(--red);
}
.btn.del:hover {
    background-color: var(--red);
    color: #fff;
}
.btn.del.chk {
    background-color: var(--red);
    color: #fff;
    display: none;
}
/* input */
.bn {
    border: unset;
    outline: none;
}
/* checkbox */
.fm_ch {
    position: relative;
    width: 100%;
}
/* .fm_ch > input[type=text] {
    width: calc(100% - 39px);
} */
label {
    position: relative;
}
input[type=checkbox]{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    color: transparent;
    overflow: hidden;
    opacity: 0;
}
.del_chk input[type=checkbox]:checked + .tdList_box::after {
    display: block;
    box-shadow: 0 0 0 3px var(--red) inset;
    /* background-color: #eee; */
}
.fm_ch .chBox {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: unset;
    margin-right: 15px;
    opacity: 1;
}
.fm_ch .chBox::before, 
.fm_ch .chBox::after {
    content: '';
    display: block !important;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: center center;
}
.fm_ch .chBox::before {
    border: 1px solid #ccc;
    border-radius: 50%;
}
.fm_ch .chBox::after{
    transform: translate(-50%, -50%) scale(0);
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5.84615L4.78947 10L13 1' stroke='%2369D1A2' stroke-width='2'/%3E%3C/svg%3E%0A");
}
.fm_ch input[type=checkbox]:checked::before {
    border-color: var(--green);
}
.fm_ch input[type=checkbox]:checked::after {
    transform: translate(-50%, -50%) scale(1);
}
.fm_ch input[type=checkbox]:checked + .tdList_list_txt {
    color: #ccc;
}

/* icon */
i[class*=icon_], i[class^=icon_] {
    display: inline-block;
    text-align: center;
    text-indent: -9999px;
    font-size: 1px;
    overflow: hidden;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    vertical-align: middle;
}
i.icon_plus {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='12.2' y1='1.2' x2='12.2' y2='22.8' stroke='white' stroke-width='2.4' stroke-linecap='round'/%3E%3Cline x1='22.8' y1='12.2' x2='1.2' y2='12.2' stroke='white' stroke-width='2.4' stroke-linecap='round'/%3E%3C/svg%3E");
    background-size: contain;
}
i.icon_chk {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5.84615L4.78947 10L13 1' stroke='%2369D1A2' stroke-width='2'/%3E%3C/svg%3E%0A");
    width: 14px;
    height: 12px;
    background-size: contain;
}
i.icon_trash {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 18.75L12.5 15' stroke='%23ED7470' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M17.5 18.75L17.5 15' stroke='%23ED7470' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M3.75 8.75H26.25V8.75C24.6063 8.75 23.7844 8.75 23.2312 9.20398C23.1299 9.28709 23.0371 9.37995 22.954 9.48121C22.5 10.0344 22.5 10.8563 22.5 12.5V21C22.5 22.8856 22.5 23.8284 21.9142 24.4142C21.3284 25 20.3856 25 18.5 25H11.5C9.61438 25 8.67157 25 8.08579 24.4142C7.5 23.8284 7.5 22.8856 7.5 21V12.5C7.5 10.8563 7.5 10.0344 7.04602 9.48121C6.96291 9.37995 6.87005 9.28709 6.76879 9.20398C6.21561 8.75 5.39374 8.75 3.75 8.75V8.75Z' stroke='%23ED7470' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M12.5852 4.21324C12.7276 4.08034 13.0415 3.96291 13.4781 3.87915C13.9147 3.7954 14.4497 3.75 15 3.75C15.5503 3.75 16.0853 3.7954 16.5219 3.87915C16.9585 3.96291 17.2724 4.08034 17.4148 4.21324' stroke='%23ED7470' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    width: 30px;
    height: 30px;
    background-size: contain;
}